body{
    margin:0;
    padding:0;
}
nav{
    background-color: white;
}
.loginBody{
    background-color: #F0F2F5;
}
.diiv{
    /* border:1px solid black; */
    place-content: center;
    padding-left:30px;
    padding-right:30px;
}
.diiv2{
    place-content: center;
    padding-left:100px;
    padding-right:100px;
}
.cstm_row{
    min-height: 100vh;
}
.forgotLink>a{
    text-decoration: none;
}
.forgotLink>a:hover{
    text-decoration:underline;
}
.loginform{
    background-color: white;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px lightgray;
}
.left>img{
    height:auto;
    width:60%;
    margin-left:-30px;
}
/* .left>h3{
    padding-left: 30px;
} */
.buttonDiv>button{
    font-weight: 700;
}
.afterform>p > a{
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.afterform>p > a:hover{
    text-decoration: underline;
}
.fb-logo{
    color:blue;
    font-size: 35px;
    display: grid;
    cursor: pointer;
}

.searchBox>input{
    padding:5px 10px;
    border-radius: 50px;
    border:none;
    padding-left:35px;
    background-color: #EEEEEE;
    
}
.searchBox>input:focus{
    border:none;
    outline: none;
   
}
.searchBox>span{
    font-size: 20px;
    position: absolute;
    top:13px;
    left:58px;
    color:gray;
}
.tabIcons>svg{
    font-size: 25px;
    
}
.useimg > img {
    height:40px;
    width: 40px;
    border-radius: 50px;
    cursor: pointer ;

}
.navRight{
    
    border-radius: 50px;
    padding: 5px;
    margin-right: 10px;
    background-color: #EEEEEE;
    cursor: pointer;
  
}
.navRight>svg{
    font-size: 20px;
    margin:0 5px;
}
.navRightDiv{
    display: flex;
    padding:5px;
}
.logoDiv>div{
    padding-left: 5px;
}
.sideList >li{
    margin: 10px 0px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}