
.forgotFormContainer{
  
    min-height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
hr{
    margin:0px !important;
}
.forgotInbox:focus{
    box-shadow: none !important;
}