body{
    margin:0;
    padding:0;
}
nav{
    background-color: white;
}
.loginBody{
    background-color: #F0F2F5;
}
.diiv{
    /* border:1px solid black; */
    place-content: center;
   
}
.diiv2{
   
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.cstm_row{
    min-height: 100vh;
}
.forgotLink>a{
    text-decoration: none;
}
.forgotLink>a:hover{
    text-decoration:underline;
}
.loginform{
    background-color: white;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px lightgray;
    width: 60%;
}
.left>img{
    height:auto;
    width:60%;
    margin-left:-30px;
}
/* .left>h3{
    padding-left: 30px;
} */
.buttonDiv>button{
    font-weight: 700;
}
.afterform>p > a{
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.afterform>p > a:hover{
    text-decoration: underline;
}
.fb-logo{
    color:#0866FF;
    font-size: 35px;
    display: grid;
    cursor: pointer;
}

.searchBox>input{
    padding:5px 10px;
    border-radius: 50px;
    border:none;
    padding-left:35px;
    background-color: #EEEEEE;
    
}
.searchBox>input:focus{
    border:none;
    outline: none;
   
}
.searchBox>span{
    font-size: 20px;
    position: absolute;
    top:13px;
    left:58px;
    color:gray;
}
.tabIcons>svg{
    font-size: 25px;
    
}
.useimg > img {
    height:40px;
    width: 40px;
    border-radius: 50px;
    cursor: pointer ;

}
.navRight{
    
    border-radius: 50px;
    padding: 5px;
    margin-right: 10px;
    background-color: #EEEEEE;
    cursor: pointer;
  
}
.navRight>svg{
    font-size: 20px;
    margin:0 5px;
}
.navRightDiv{
    display: flex;
    padding:5px;
}
.logoDiv>div{
    padding-left: 5px;
}
.sideList >li{
    /* margin: 10px 0px; */
    padding:10px;
    align-items: center;
    margin-top:10px;
    
    cursor: pointer;
    border-radius: 5px;
    
}
.sideList >li:hover{
    background-color: #dcdada;
}
.sideList >li>h5 {
    margin-bottom: 0;
    margin-left:10px;
    font-size: 20px;

}
.singleslider>div{
    
    min-height: 300px;
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 15px;
    position: relative;
    box-shadow: 2px 2px 5px 5px lightgray;
    
}
.overRide{
    all:unset;
}
.overRide:hover{
    all:unset;
}
.overRide:active{
    all:unset !important;
}
.NavBarUserDetails{

    padding: 0px 20px;
}
.NavBarUserDetails >div>img{
    border-radius: 50%;
    
}
.NavBarUserDetails > div > p{
    margin:0px !important;
}
.FB_logo{
    display:flex;
    justify-content: center;
    align-items: center;
}
.FB_logo > svg{
    color: #0866FF;
    margin-bottom:0px;
    margin-right:5px;
}
.FB_logo > form > input{
    border-radius: 50px;
}
.navbarUserProfile{
    all:unset;
}

.navbarCenterContainer{
   
    margin:0px;
    padding:0px;
    margin-left:300px;
}
.navBarSearchBox{
    padding-left:40px;
}
.navBarSearchBoxIcon{
   
   
    position:absolute;
    top:13px;
    left:66px;
    font-size: 25px;
}
.NavbarUserProfileContainer{
   
    cursor: pointer;
}
.dropdownContainer{
    border:1px solid black;
    position: absolute;
    ;

}
